body{
    margin: 0;
    font-family: Manrope;
}
/*Header*/
.header{
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
}
.header_inner{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-right: 122px;
}
.menu li {
    list-style-type: none;
    font-size: 14px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
.nav_link{
    color: black;
    text-decoration: none;
    margin: 0 40px;
}
/*Button*/
.button1{
    background-color: #F84646;
    width: 91px;
    height: 40px;
    left: 1227px;
    top: 35px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;

    padding: 10px 20px;
}
/*Intro*/
.intro{
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 754px;
    background-image: url("image/Rectangle 1.png");
    background-size: cover;
}
.intro_inner{
    width: 100%;
    margin-bottom: 40px;
}
.title_intro{
    width: 600px;
    height: 164px;
    top: 200px;

    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
}
.container{
    padding-left: 122px;
}
.text_intro{
    width: 650px;
    height: 99px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    margin-top: 20px;
    letter-spacing: 0.2px;
}
.mail_input{
    font-size: 16px;
    padding-left: 32px;
    padding-right: 202px;
    width: 300px;
    height: 73px;
    left: 122px;

    border-radius: 8px;
    border-style: none;
}
.button_for_input{
    position: relative;
    left: -147px;
    background-color: #F84646;
    width: 136px;
    height: 61px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}
/*Section*/
.title_text{
    height: 56px;
    left: 506px;
    top: 874px;

    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    margin-top: 120px;
}
.text{
    width: 90%;
    height: 109px;
    top: 960px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    margin: 0 auto;

    text-align: center;
    letter-spacing: 0.2px;
}
.images{
    margin: 0 144px 0 143px;
    margin-top: 98px;

    grid-column-gap: 116px;
    grid-row-gap: 83px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.images h3 {
    font-size: 24px;
    font-weight: 800;
}
.images p {
    font-size: 18px;
    font-weight: 400;
}
.files{
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 1268px){
    .images{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.img_file{
    position: relative;
}
.ellipse-1{
    margin-left: -45px;
    margin-bottom: 32px;
}
.ellipse-2{
    margin-left: -82px;
    margin-bottom: 20px;
}
.ellipse-3{
    margin-left: -35px;
    margin-bottom: 24px;
}
.ellipse-4{
    margin-left: -82px;
    margin-bottom: 25px;
}
.ellipse-5{
    margin-left: -43px;
    margin-bottom: 32px;
}
.ellipse-6{
    margin-left: -50px;
    margin-bottom: 30px;
}
.title_in_grid{
    margin-bottom:10px;
}
/*Red Container*/
.red_container{
    height: 329px;
    background-color: #F84646;
    color: #FFFFFF;
    background-size: cover;
    margin-top: 90px;
}
.title_con{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    padding-top: 65px;
}
.text_con{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.all_text_con{
    margin-top: 50px;
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}
.text_1{
    display: flex;
    margin-right: 20px;
    width: 250px;
}
.text_1 p {
    width: 200px;
    font-size: 18px;
    font-weight: 700;
    line-height: 31px;
}