body{
    margin: 0;
}
/*Header*/
.header{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.header_inner{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-right: 122px;
}
.menu li {
    list-style-type: none;
    font-family: Manrope;
    font-size: 14px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
.nav_link{
    color: black;
    text-decoration: none;
    margin: 0 40px;
}
/*Button*/
.button1{
    background-color: #F84646;
    width: 91px;
    height: 40px;
    left: 1227px;
    top: 35px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;

    padding: 10px 20px;
}
/*Intro*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 754px;
    background-image: url("image/Rectangle 1.png");
    background-size: cover;
}
.intro_inner{
    width: 100%;
    margin-bottom: 40px;
}
.title_intro{
    width: 665px;
    height: 164px;
    top: 200px;

    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
}
.container{
    padding-left: 122px;
}
.text_intro{
    width: 650px;
    height: 99px;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    margin-top: 20px;
    letter-spacing: 0.2px;
}
.mail_input{
    font-size: 16px;
    padding-left: 32px;
    padding-right: 202px;
    width: 300px;
    height: 73px;
    left: 122px;

    border-radius: 8px;
    border-style: none;
}
.button_for_input{
    position: relative;
    left: -147px;
    background-color: #F84646;
    width: 136px;
    height: 61px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}
/*Section*/
.title_text{
    height: 56px;
    left: 506px;
    top: 874px;

    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    margin-top: 120px;
}
.text{
    width: 994px;
    height: 109px;
    left: 223px;
    top: 960px;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 39px;
    margin: 0 auto;

    text-align: center;
    letter-spacing: 0.2px;
}
.images{
    margin-top: 98px
}
